.cover-section {
  background: 
    linear-gradient(90deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
    url('img/ferramentas.jpeg');
  background-size: cover;
  background-position: center;
}
.card-testimonial {
  max-width: 24rem;
}

.card-testimonial img {
  height: 12rem;
  width: 12rem;
}
.destinations-section {
  background: 
    linear-gradient(90deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
    url('../images/pexels-fabianwiktor-994605.webp');
  background-size: cover;
  background-position: center;
  min-height: 32rem;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(25, 135, 84, 0.7);
  }
  70% {
    transform: scale(1.1);
    box-shadow: 0 0 0 10px rgba(25, 135, 84, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(25, 135, 84, 0);
  }
}

.pulse {
  animation: pulse 1.5s infinite;
}